body, html {
    height: 100%;
    margin: 0;
}

.nav {
    position: fixed;
    padding: 12px;

    opacity: 0.1;
    z-index: 1;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}


div nav a {
    transition: color 0.4s ease-in-out;
    text-decoration: none;
    color: white;
}
a {
    font-weight: bold;
    color: white;
}

.link {
    z-index: 1;
    font-size: 18px;
    margin-left: 10px ;
}

i {
    text-decoration: none;
    color: white;
    z-index: 1;
    font-size: 18px;
}

#col1 {
    flex-direction: column;
}

.bg {
    background-image: url('images/bg-dubai.jpg');
    opacity: 0.4;
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hi {
    border-bottom: solid blue;
    z-index: 1;
}

.me {
    height: 945px;
    background-color: blue;
}

.message {
    height: 945px;
}