html, body {
    height: 100%;
}

.home {
    height: 100%;
    &::before {
        content: "";  
        background-image: url('images/dubai.jpg');
        background-size: cover;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.60;
    }
} 

.intro {
    height: 945px;
}

a {
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.contact {
    height: 945px;
}

#nav.scroll {
    background-color: white;
    font-size: 15px;
    color: rgb(33, 156, 239);
    opacity: 1;
}

#nav {
    position: fixed;
    width: 100%;
    transition: background-color 0.8s ease-out;
    display: flex;
    justify-content: space-between ;
    padding: 15px;
    font-size: 18px;
    opacity: 0.1;
    color: white;
    text-transform: uppercase;
}

h1 {
    width: 600px;
}

.intro-text {
    font-size: 75px;
    font-weight: bold;
}

a.scroll {
    color: rgb(33, 156, 239);
    opacity: 1;
}

.else {
    position: relative;
}

#i.scroll {
    color: black;
}

.line {
    border-bottom: solid rgb(33, 156, 239);
    border-width: 3px;
    width: 50px;
}

p {
    font-size: 19px;
}

.button {
    background-color: rgb(33, 156, 239);
    border: none;
    color: white;
    padding: 13px 25px;
    text-align: center;
    cursor: pointer;
    border-radius: 36px;
    font-weight: bold;
    font-size: 15px;
}

.button:hover {
    background-color: white;
    color: black;
}

.about {
    height: 945px;
    background-color: rgb(33, 156, 239);
}

#drop.scroll {
    color: black;
}

.drop-links {
    display: none;
}



