body, html {
    height: 100%;
    margin: 0;
}

.bg {
    background-image: url('images/bg-dubai.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    opacity: 0.4;
}

.nav {
    display: flex;
    justify-content: space-between ;
    position: fixed;
    padding: 9px;
    color: white;
    opacity: 0.1; 
}

.intro {
    height: 945px;
      
}

a {
    font-weight: bold;
    overflow: hidden;
}

.link {
    font-size: 18px;
    margin-left: 10px ;
    text-decoration: none;
    color: white;
}

i {
    color: white;
    font-size: 18px;
}

.hi {
    border-bottom: solid rgb(33, 156, 239);
    border-width: 3px;
    width: 50px;
    color: black;
    opacity: 100%;

}

.me {
    height: 945px;
    background-color: blue;
}

.message {
    height: 945px;
}

.btn {
    background-color: rgb(33, 156, 239);;
}